/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM */
:root {
    --bg-prim-colour: #0084fd
}

/* COMMON */

body {
    font-family: 'Fredoka', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a {
    cursor: pointer;
}

/* HEADER */

header {
    background-color: var(--bg-prim-colour) ;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.header img {
    position: relative;
    left: 30px;
}

.header i {
    position: relative;
    right: 30px;
    font-size: 2rem;
    color: white;
}

.header ul {
    display: none;
}

@media screen and (min-width: 992px) {
    .header {
        width: 70%;
        margin: 0 auto;
    }

    .header i {
        display: none;
    }

    .header ul {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        list-style-type: none;
        margin-right: 1rem;
    }

    .header li {
        color: white;
        font-size: 1.2rem;
    }

    .header li:last-child {
        color: black;
        background-color: white;
        padding: 0.4rem;
        border-radius: 10px;
    }
}